.myDropdown {
    min-width: 150px;
    display: flex;
    justify-content: center;
}

.myBorderRight {
    border-right: 1px solid white;
}

.mySpacing {
    margin-left: 15%;
}

.myTitle {
    background-color: #343A40;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.myTitleHotBook {
    background-color: #343A40;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #CCCECF;
    padding-right: 100px;
    border-bottom-right-radius: 25px;
}

.myHotBookTitle {
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.myBody {
    width: 1250px;
    margin: auto;
    margin-top: 100px;
}

.myText {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #CCCECF;
}

.myCarousel {
    height: 500px;
}

.myImage {
    height: 300px;
}

.mySpaner {
    position: absolute;
    top: 0;
    right: 0;
    background-color: blanchedalmond;
    padding: 5px;
    font-weight: 700;
    border-bottom-left-radius: 5px;
    color: #343A40;
}