.myLoginPage {
    background-image: url('../../../asset/picture/background/background_login.jpg');
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.myFont {
    color: aqua;
}

.myErrMessage {
    color: red;
    font-size: 10px;
    font-family: "Signika", sans-serif;
}